
<br /><br />
<div class="container">
    <div class="row text-center">
        <div class="col-sm-12">
            <div class="alert-danger">
                <h2><b>Access Denied</b></h2><br /><br />
                <h4>Sorry!!! You don't Have Access of this page.</h4>
            </div>
            <br /><br />
            <img class="card-img" src="~/images/access-denied.jpg" 
                 style="height:400px;width:400px;text-align:center"/>
        </div>
    </div>
</div>
<br /><br />